---
import Layout from "../layouts/Layout.astro"
---

<Layout title="about the proyect">
    <h1>About the proyect</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam inventore asperiores molestiae, est praesentium numquam voluptas tempora perferendis perspiciatis nostrum? Nobis fuga porro odio, quidem quas neque adipisci tempora quo!</p>
</Layout>