---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import ProductsService from "../services/products.service.ts";
import CardCategories from "../components/CardCategories.astro";




const products = await ProductsService.getProducts();
const slicedProducts = products.slice(0, 4);
const categories = await ProductsService.getAllCategories();
const categoriesSlice = categories.slice(0, 4);
const categoriesSlice2 = categories.slice(4, 8);

---

<Layout title="Senyal">         
	<img src="/fulladidasterraceDP.jpg" alt="" class="w-full h-auto">
	<img src="/horchico-envios1004.jpg" alt="" class="pt-10">
    <div>
        <h1 class=" p-10 text-4xl text-center ">Nuevos Ingresos </h1>
    </div>
	<div class="grid grid-cols-1 bg-neutral-100 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-10 p-10">
		{slicedProducts.map((product) => <Card {...product} />)}
	</div>

</Layout>

<style>
</style>