---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import 	Card from '../components/Card.astro'
---


	<Layout title="SpaceX Launches">
		<Card>
			<h2 slot="title">Camisa de algodón</h2>
			<p slot="description">Camisa de manga larga con botones, disponible en varios colores y tallas.</p>
		  </Card>
		  
		  <Card>
			<h2 slot="title">Pantalones vaqueros</h2>
			<p slot="description">Pantalones vaqueros ajustados con estilo desgastado, perfectos para un look casual.</p>
		  </Card>
	</Layout>
