<footer class="bg-neutral-100 px-10 flex items-center justify-between">
    <a
        href="/"
        class=""
    >
        <img
            src="/022166265a6613d8d49c75b3da067a94.png"
            class="h-20"
            alt="Flowbite Logo"
        />
    </a>
    <span class="block text-sm text-gray-500"
        >© 2024 <a href="/" class="hover:underline"> Senyal™</a>. All Rights
        Reserved.
    </span>
</footer>
