---
import { Image } from "astro:assets";
import HeaderButton from "../components/HeaderButton.astro";
---

<nav class="sticky top-0 z-1 flex lg:justify-center bg-neutral-100 w-full">
    <div class="flex justify-between items-center w-full mx-10">
        <a href="/" class="flex items-center">
            <Image
                src="/public/022166265a6613d8d49c75b3da067a94.png"
                alt="senyal"
                width="150"
                height="150"
            />
        </a>

        <ul class="flex space-x-4 text-gray-800 text-lg">
            <li><a href="#" class="hover:text-neutral-500">Inicio</a></li>
            <li><a href="#" class="hover:text-neutral-500">Productos</a></li>
            <li><a href="#" class="hover:text-neutral-500">Nosotros</a></li>
            <li><a href="#" class="hover:text-neutral-500">Contacto</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        height: 10vh;
    }
</style>

<script>
    addEventListener("scroll", () => {
        const nav = document.querySelector("nav");
        if (window.scrollY > 0 && nav) {
            nav.classList.add("shadow-lg");
        } else if (nav) {
            nav.classList.remove("shadow-lg");
        }
    });
</script>
