---
import Layout from '@/layouts/Layout.astro';
import ProductsService from '@/services/products.service';
const params = Astro.params as {id: string}
const product = await ProductsService.getProduct(params.id)
if (!product) return Astro.redirect('/404')
---

<Layout title={product.title}>
    <h1 class="text-3xl text-slate-900">{product.title} - {product.description}</h1>
</Layout>