---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import ProductsService from "@/services/products.service";
const params = Astro.params as { id: string };
const product = await ProductsService.getProduct(params.id);
if (!product) return Astro.redirect("/404");
import { Icon } from "astro-icon/components";
---

<Layout title={product.title}>
    <div class="bg-neutral-100 flex flex-col">
        
        <div class="flex flex-row">
            <img
                src={product.image}
                alt={product.title}
                class="w-[37%] h-auto"
            />
            <div class="px-10 flex flex-col justify-between">
                <div>
                    <h1 class="text-xl text-neutral-800 underline pb-10">
                        <a href="">
                            PREVIOUS
                        </a>
                        <a href="" class="float-right">
                            NEXT
                        </a>
                    </h1>
                    <h1 class="text-2xl text-neutral-950">
                        {product.title}
                    </h1>
                    <p class="text-lg mt-10 text-black">
                         Un toque de frescura y elegancia para cualquier ocasi칩n. Su suave textura y tonalidad vibrante a침aden un toque de estilo primaveral a tu atuendo.
                    </p>
                    <p class="text-lg mt-10 text-black">
                        Materiales: 100% algodo패n,  100% polie패ster, 100% microfibra
                    </p>
                    <p  class="font-bold text-lg mt-10 text-black">
                        Color: Rosa
                    </p>
                </div>

                <!-- <button
                    class="bg-neutral-500 w-full hover:bg-neutral-600 transition-all duration-300 text-white py-2 rounded-md text-lg mt-5"
                    >Volver a inicio</button
                > -->
            </div>
        </div>
    </div>
</Layout>
